.active{
  border-bottom: 1px solid black;
}
.fa-2x, .saveIconSolo, .nextIconSolo, .saveIconGrid, .nextIconGrid{
  color:skyblue;
  transition:all .25s;
  text-decoration: none;
}
.fa-2x{
  padding:5px;
}
.fa-2x:hover{
  text-shadow: 0px 0px 1px black;
  border-bottom: 1px solid black;
}
div, span{
/*  border:1px solid red;*/
}
.container{
  text-align:center;

}
.hoverSpanSolo{
  position:absolute;
  left: 0px;
  top: 0px;
}
.saveIconSolo, .nextIconSolo{
  margin:40px;
  font-size:8em !important;
}
.saveIconGrid, .nextIconGrid{
  margin:10px;
  font-size:3em !important;
}

.animate-show {
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
    opacity: 1;
}
.animate-show.ng-hide {
    opacity: 0;
}
.hoverSpanGrid{
  position:absolute;
  left: 40px;
  top: 0px;
}
.gridContainer{
  display:inline-block;
  width:200px;
  height:auto;
  margin:10px;
  text-align:center;
}

.gridTitle{

}
.gridLink{
  text-decoration: none;
}
.gridImg{
  height:100px;
}
.imgBoxGrid{

  width:200px;
  position: relative;
}

.soloContainer{
  text-align: center;
  width:400px;
  margin:auto;

}
.soloTitle{
  text-align:center;
}
.soloLink{
}
.soloImg{
  width:400px;
}
.imgBoxSolo{

  width:400px;
  position: relative;
}